.call-to-action-container {
  display: flex;
  background: $primary-color;
  padding: 102px 165px 0 165px;
  @media (max-width: $layout-breakpoint-mobile) {
    padding: 39px 15px 0 15px;
  }
  .call-to-action-left {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    .call-to-action-title {
      .buy-poison {
        color: $white;
        text-align: left;
        font-family: "Josefin Sans", "sans-serif";
        font-size: 102px;
        line-height: normal;
        font-weight: 700;
        font-style: italic;
        @media (max-width: $layout-breakpoint-mobile) {
          font-size: 58.507px;
        }
      }
      .trust-us {
        position: relative;
        top: -50px;
        left: 35px;
        color: transparent;
        text-align: left;
        font-family: "Josefin Sans", "sans-serif";
        font-size: 120px;
        line-height: normal;
        font-weight: 700;
        font-style: italic;
        -webkit-text-stroke: 0.125rem #ff8882;
        @media (max-width: $layout-breakpoint-mobile) {
          font-size: 58.507px;
          top: -25px;
          left: 15px;
          -webkit-text-stroke: 0.5px #ff8882;
        }
      }
    }
    .call-to-action-description {
      width: 386px;
      color: $white;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 146%;
      opacity: 0.7;
      @media (max-width: $layout-breakpoint-mobile) {
        width: 345px;
        margin: 0;
      }
    }
    .call-to-action-button {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      width: 257px;
      height: 63px;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.8);
      flex-shrink: 0;
      position: relative;
      align-items: center;
      margin-top: 22px;
      margin-bottom: 186px;
      color: $primary-color;
      text-align: center;
      font-family: "Josefin Sans", "sans-serif";
      font-size: 21px;
      line-height: normal;
      font-weight: 700;
      letter-spacing: 4.095px;
      text-transform: uppercase;
      @media (max-width: $layout-breakpoint-mobile) {
        margin: 64px auto;
      }
    }
    .rectangle-shape-right {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 0.125rem;
      border-style: solid;
      border-color: transparent;
      border-width: 0.0625rem;
      width: 2.625rem;
      height: 0.4375rem;
      position: absolute;
      right: -1.4375rem;
      bottom: 0.8125rem;
    }
    .rectangle-shape-left {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 0.125rem;
      border-style: solid;
      border-color: transparent;
      border-width: 0.0625rem;
      width: 1.75rem;
      height: 0.4375rem;
      position: absolute;
      left: -0.875rem;
      top: 0.3125rem;
    }
  }
  .call-to-action-scrolldown {
    margin-bottom: 25px;
    @media (max-width: $layout-breakpoint-mobile) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
    img {
      @media (max-width: $layout-breakpoint-mobile) {
        width: 20.248px;
      }
    }
  }
  .call-to-action-notice-mobile {
    display: none;
    @media (max-width: $layout-breakpoint-mobile) {
      display:flex;
      flex-direction: column;
      width: 345px;
      text-align: right;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $white;
      opacity: 0.7;
      padding-bottom: 11px;
    }
  }
}
.call-to-action-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  padding-bottom: 31px;
  @media (max-width: $layout-breakpoint-mobile) {
    display: none;
  }
  .call-to-action-image {
    width: 33.75rem;
    height: 33.75rem;
    object-fit: cover;
  }
  .call-to-action-notice {
    width: 355px;
    color: $white;
    text-align: right;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
  }
}
