.description-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 100%;
  height: auto;
  padding: 100px 50px;
  .description-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    .description-shape-wrapper {
      display: flex;
      flex-direction: column;
      .numbers {
        color: #194350;
        /* Heading Caps / H7 */
        font-family: "Josefin Sans";
        font-size: 27px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 7.56px;
        text-transform: uppercase;
      }
      .description-shape {
        background: linear-gradient(
          90deg,
          #ff8882 0%,
          rgba(255, 136, 130, 0) 100%
        );
      }
    }
    .cruelty-free {
      color: #194350;
      font-family: "Josefin Sans";
      font-size: 105px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 15px;
    }
    .development {
      color: transparent;
      text-align: left;
      font-family: var(
        --heading-h2-font-family,
        "JosefinSans-Bold",
        sans-serif
      );
      font-size: var(--heading-h2-font-size, 6.5625rem);
      line-height: var(--heading-h2-line-height);
      font-weight: var(--heading-h2-font-weight, 700);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      -webkit-text-stroke: 0.0625rem #ff8882;
      position: relative;
      padding-left: 60px;
      top: -80px;
    }
    .description-callout {
      width: 100%;
      text-align: center;
      color: #194350;
      /* Heading / H8 */
      font-family: "Josefin Sans";
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 109.5%; /* 22.995px */
    }
  }
  .description-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 120px;
    .description-bottom-left {
      .description-bottom-shape {
        width: 625px;
        height: 472px;
        flex-shrink: 0;
        opacity: 0.2;
        background: #9dbeb9;
        position: relative;
        left: 190px;
        bottom: 220px;
      }
    }
    .description-bottom-title {
      color: #194350;
      /* Heading / H5 */
      font-family: "Josefin Sans";
      font-size: 47px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .description-text {
      color: #194350;

      /* Body / Regular */
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
    }
  }
  .description-bottom-right {
  }
}
