.posts-section-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: baseline;
  background: linear-gradient(180deg, #ff8882 0%, #ffc2b4 100%);
  padding: 120px;
  .posts-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    .numbers {
      color: var(--Blanco, #fff);

      /* Heading Caps / H7 */
      font-family: "Josefin Sans";
      font-size: 27px;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 7.56px;
      text-transform: uppercase;
    }
    .our {
      color: var(--Blanco, #fff);
      text-align: right;

      /* Heading / H2 */
      font-family: "Josefin Sans";
      font-size: 105px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .flavours {
      text-align: right;
      -webkit-text-stroke: 0.125rem #FFF;
      color:transparent;
      font-family: "Josefin Sans";
      font-size: 105px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .posts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    /* align-items: center; */
  }
  .card {
    width: auto;
    .card-header {
      display: flex;
      flex-direction: row;
      .card-img {
        width: 37px;
      }
      .card-title {
        display: flex;
        justify-content: flex-start;
        align-items: end;
        padding-left: 10px;
        color: #194350;
        font-family: "Josefin Sans";
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.095px;
        text-transform: uppercase;
      }
    }
    .card-body {
      .card-description {
        color: #194350;

        /* Body / Regular */
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .details-button-wrapper {
        display:flex;
        justify-content: flex-end;
        .details-button {
          display: flex;
          width: fit-content;
          padding: 4px 17px;
          align-items: center;
          gap: 9px;
          border-radius: 55px;
          background: #ff8882;
          color: var(--Blanco, #FFF);
text-align: center;

/* Body / Bold */
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
      }
    }
  }
}