.posts-section-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: baseline;
  background: linear-gradient(180deg, #ff8882 0%, #ffc2b4 100%);
  padding: 68.26px 165px 52.22px 165px;
  @media (max-width: $layout-breakpoint-mobile) {
    width: 100vw;
    padding: 52px 15px;
  }
  .posts-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    .numbers {
      width: 100%;
      color: $white;
      text-align: right;
      font-family: "Josefin Sans", "sans-serif";
      font-size: 27px;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 7.56px;
      text-transform: uppercase;
    }
    .our {
      color: $white;
      padding-right: 39.21px;
      text-align: right;
      font-family: "Josefin Sans", "sans-serif";
      font-size: 105px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: $layout-breakpoint-mobile) {
        padding-right: 0;
        font-size: 57.18px;
        padding-top: 28.26px;
      }
    }
    .flavours {
      position: relative;
      top: -45px;
      padding-right: 39.21px;
      text-align: right;
      -webkit-text-stroke: 0.5px #fff;
      color: transparent;
      font-family: "Josefin Sans", "sans-serif";
      font-size: 105px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: $layout-breakpoint-mobile) {
        padding-right: 0;
        top: -20px;
        font-size: 57.18px;
      }
    }
  }
  .posts-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30.39px;
    @media (max-width: $layout-breakpoint-mobile){
      display:none;
    }
    .card {
      width: auto;
      height: max-content;
      border-radius: 10px;
      padding: 14px 12px;
      @media (max-width: $layout-breakpoint-mobile){
        width:80vw;
      }      
      .card-header {
        display: flex;
        flex-direction: row;
        border: 0;
        background: white;
        
        .card-img {
          width: 37px;
        }
        .card-title {
          display: flex;
          justify-content: flex-start;
          align-items: end;
          margin-bottom: 0;
          padding-left: 10px;
          color: $primary-color;
          font-family: "Josefin Sans", "sans-serif";
          font-size: 21px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 4.095px;
          text-transform: uppercase;
        }
      }
      .card-body {
        .card-description {
          color: $primary-color;
          font-family: Lato;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .details-button-wrapper {
          display: flex;
          justify-content: flex-end;
          @media (max-width: $layout-breakpoint-mobile){
            width: 100%;
            justify-content: center;
          }
          .details-button {
            display: flex;
            width: fit-content;
            text-decoration: none;
            padding: 4px 17px;
            align-items: center;
            gap: 9px;
            border-radius: 55px;
            background: #ff8882;
            color: $white;
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            transition: 0.3s;
            @media (max-width: $layout-breakpoint-mobile) {
              width: 115px;
            }

          }
          .details-button:hover {
            background: $primary-color;
          }
        }
      }
    }
  }
  .posts-container-mobile {
    display:none;
    @media (max-width: $layout-breakpoint-mobile){
      display: grid;
      width: 100%;
      grid-auto-flow: column; /* Display items in a single row */
      grid-auto-columns: auto; /* Automatically adjust the width of each column based on content */
      overflow-x: auto; /* Enable horizontal scrolling on mobile */
      white-space: nowrap; /* Prevent line breaks */
      gap: 30.39px;
      
    }
    @media(max-width: $layout-breakpoint-mobile) {
      .card {
        width: auto;
        height: max-content;
        border-radius: 10px;
        padding: 14px 12px;
        @media (max-width: $layout-breakpoint-mobile){
          width:80vw;
        }
        .card-header {
          display: flex;
          width: 100%;
          flex-direction: row;
          border: 0;
          background: white;
          .card-img {
            width: 37px;
          }
          .card-title {
            display: flex;
            justify-content: flex-start;
            align-items: end;
            margin-bottom: 0;
            padding-left: 10px;
            color: $primary-color;
            font-family: "Josefin Sans", "sans-serif";
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 4.095px;
            text-transform: uppercase;
          }
        }
        .card-body {
          width: 100%;
          .card-description {
            width: 100%;
            color: $primary-color;
            text-overflow: ellipsis;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            p {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .details-button-wrapper {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            .details-button {
              display: flex;
              width: fit-content;
              text-decoration: none;
              padding: 4px 17px;
              align-items: center;
              gap: 9px;
              border-radius: 55px;
              background: #ff8882;
              color: $white;
              text-align: center;
              font-family: Lato;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              transition: 0.3s;
              svg {
                width: 20px;
              }
            }
            .details-button:hover {
              background: $primary-color;
            }
          }
        }
      }
    }
  }
  .load-more-button-row {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    align-items: center;
    gap: 9px;
    border-radius: 55px;
    background: #ff8882;
    color: $white;
    text-align: center;
    @media(max-width: $layout-breakpoint-mobile){
      width: 50%;
    }
    #load-more-posts{
      display:block;
      @media(max-width: $layout-breakpoint-mobile){
        display:none;
      }
    }
    #load-more-posts-mobile{
      display:none;
      @media(max-width: $layout-breakpoint-mobile){
        display:block;
      }
    }
  }
}
