// Branding colours
$primary-color: #194350;
$secondary-color: #ff8882;
$tertiary-color: #ffc2b4;
$quaternary-color: #9dbeb9;

// Other colours
$white: #fff;

// Override bootstrap values
// https://getbootstrap.com/docs/5.3/customize/sass/#modify-map
$theme-colors: (
  "primary": $primary-color,
  "secondary": $tertiary-color,
);

// Responsive breakpoint
$layout-breakpoint-mobile: 375px;

@import "node_modules/bootstrap/scss/bootstrap"; // To normalize project styles

@import "scss/header";
@import "scss/content";
@import "scss/footer";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: $layout-breakpoint-mobile) {
    width: max-content;
  }
}
