// Branding colours
$primary-color: #194350;
$secondary-color:#FF8882;
$tertiary-color:#FFC2B4;
$quaternary-color:#9DBEB9;
// Override bootstrap values
// https://getbootstrap.com/docs/5.3/customize/sass/#modify-map
$theme-colors: (
    "primary": green,
    "danger": #ff4136
);

@import 'node_modules/bootstrap/scss/bootstrap'; // To normalize project styles

@import 'scss/header';
@import 'scss/content';

// Media query based on figma mobile design
@mixin mobile {
    @media screen and (max-width: 375px) {
        @content
    }
}